.section-comands {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
}
}
.image-list {
  padding: 0;
  padding-bottom: 30px;
  text-align: center;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
    @media screen and (min-width: 1200px) {
      padding-inline-start: 0;
      // width: calc(100% - 32px * 2);
      flex-wrap: nowrap;
    }

}
.section-name {
  color: $primary-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: #fff;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: #2196f3;
  }
  &:hover .icon {
    fill: #fff;
  }
}

.image-list .image-pictures-list {
  @media screen and (min-width: 1200px) {
  margin-right: 30px;
  &:nth-last-child(-n + 1) {
      margin-right: 0;
  }
}
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  @media screen and (max-width: 1199px) {
    width: calc((100% - 30px) / 2);
    margin-right: 0;
  }
}
.text-list {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
}

.list-social {
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;

  display: flex;
  margin-top: 16px;
}

.icon {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
}
